---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 13b866b6dcff925bbf83b71724d17ceb1f520167
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4768'
      X-Ratelimit-Reset:
      - '1585796834'
      Etag:
      - W/"661c191dd3f967aea72cc8cea286605c"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=3>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":149472503,"node_id":"MDEwOlJlcG9zaXRvcnkxNDk0NzI1MDM=","name":"ClassSharedRepo","full_name":"AugustanaCSC285Fall18/ClassSharedRepo","private":true,"owner":{"login":"AugustanaCSC285Fall18","id":42421924,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQyNDIxOTI0","avatar_url":"https://avatars0.githubusercontent.com/u/42421924?v=4","gravatar_id":"","url":"https://api.github.com/users/AugustanaCSC285Fall18","html_url":"https://github.com/AugustanaCSC285Fall18","followers_url":"https://api.github.com/users/AugustanaCSC285Fall18/followers","following_url":"https://api.github.com/users/AugustanaCSC285Fall18/following{/other_user}","gists_url":"https://api.github.com/users/AugustanaCSC285Fall18/gists{/gist_id}","starred_url":"https://api.github.com/users/AugustanaCSC285Fall18/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/AugustanaCSC285Fall18/subscriptions","organizations_url":"https://api.github.com/users/AugustanaCSC285Fall18/orgs","repos_url":"https://api.github.com/users/AugustanaCSC285Fall18/repos","events_url":"https://api.github.com/users/AugustanaCSC285Fall18/events{/privacy}","received_events_url":"https://api.github.com/users/AugustanaCSC285Fall18/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/AugustanaCSC285Fall18/ClassSharedRepo","description":"Examples,
        demos and shared code for the whole CSC 285 class","fork":false,"url":"https://api.github.com/repos/AugustanaCSC285Fall18/ClassSharedRepo","forks_url":"https://api.github.com/repos/AugustanaCSC285Fall18/ClassSharedRepo/forks","keys_url":"https://api.github.com/repos/AugustanaCSC285Fall18/ClassSharedRepo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/AugustanaCSC285Fall18/ClassSharedRepo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/AugustanaCSC285Fall18/ClassSharedRepo/teams","hooks_url":"https://api.github.com/repos/AugustanaCSC285Fall18/ClassSharedRepo/hooks","issue_events_url":"https://api.github.com/repos/AugustanaCSC285Fall18/ClassSharedRepo/issues/events{/number}","events_url":"https://api.github.com/repos/AugustanaCSC285Fall18/ClassSharedRepo/events","assignees_url":"https://api.github.com/repos/AugustanaCSC285Fall18/ClassSharedRepo/assignees{/user}","branches_url":"https://api.github.com/repos/AugustanaCSC285Fall18/ClassSharedRepo/branches{/branch}","tags_url":"https://api.github.com/repos/AugustanaCSC285Fall18/ClassSharedRepo/tags","blobs_url":"https://api.github.com/repos/AugustanaCSC285Fall18/ClassSharedRepo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/AugustanaCSC285Fall18/ClassSharedRepo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/AugustanaCSC285Fall18/ClassSharedRepo/git/refs{/sha}","trees_url":"https://api.github.com/repos/AugustanaCSC285Fall18/ClassSharedRepo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/AugustanaCSC285Fall18/ClassSharedRepo/statuses/{sha}","languages_url":"https://api.github.com/repos/AugustanaCSC285Fall18/ClassSharedRepo/languages","stargazers_url":"https://api.github.com/repos/AugustanaCSC285Fall18/ClassSharedRepo/stargazers","contributors_url":"https://api.github.com/repos/AugustanaCSC285Fall18/ClassSharedRepo/contributors","subscribers_url":"https://api.github.com/repos/AugustanaCSC285Fall18/ClassSharedRepo/subscribers","subscription_url":"https://api.github.com/repos/AugustanaCSC285Fall18/ClassSharedRepo/subscription","commits_url":"https://api.github.com/repos/AugustanaCSC285Fall18/ClassSharedRepo/commits{/sha}","git_commits_url":"https://api.github.com/repos/AugustanaCSC285Fall18/ClassSharedRepo/git/commits{/sha}","comments_url":"https://api.github.com/repos/AugustanaCSC285Fall18/ClassSharedRepo/comments{/number}","issue_comment_url":"https://api.github.com/repos/AugustanaCSC285Fall18/ClassSharedRepo/issues/comments{/number}","contents_url":"https://api.github.com/repos/AugustanaCSC285Fall18/ClassSharedRepo/contents/{+path}","compare_url":"https://api.github.com/repos/AugustanaCSC285Fall18/ClassSharedRepo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/AugustanaCSC285Fall18/ClassSharedRepo/merges","archive_url":"https://api.github.com/repos/AugustanaCSC285Fall18/ClassSharedRepo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/AugustanaCSC285Fall18/ClassSharedRepo/downloads","issues_url":"https://api.github.com/repos/AugustanaCSC285Fall18/ClassSharedRepo/issues{/number}","pulls_url":"https://api.github.com/repos/AugustanaCSC285Fall18/ClassSharedRepo/pulls{/number}","milestones_url":"https://api.github.com/repos/AugustanaCSC285Fall18/ClassSharedRepo/milestones{/number}","notifications_url":"https://api.github.com/repos/AugustanaCSC285Fall18/ClassSharedRepo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/AugustanaCSC285Fall18/ClassSharedRepo/labels{/name}","releases_url":"https://api.github.com/repos/AugustanaCSC285Fall18/ClassSharedRepo/releases{/id}","deployments_url":"https://api.github.com/repos/AugustanaCSC285Fall18/ClassSharedRepo/deployments","created_at":"2018-09-19T15:30:03Z","updated_at":"2018-10-19T16:28:45Z","pushed_at":"2018-10-19T16:28:43Z","git_url":"git://github.com/AugustanaCSC285Fall18/ClassSharedRepo.git","ssh_url":"git@github.com:AugustanaCSC285Fall18/ClassSharedRepo.git","clone_url":"https://github.com/AugustanaCSC285Fall18/ClassSharedRepo.git","svn_url":"https://github.com/AugustanaCSC285Fall18/ClassSharedRepo","homepage":null,"size":359,"stargazers_count":0,"watchers_count":0,"language":"Java","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":9,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":9,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true}},{"id":146606922,"node_id":"MDEwOlJlcG9zaXRvcnkxNDY2MDY5MjI=","name":"ConflictTestJ","full_name":"AugustanaCSC285Fall18/ConflictTestJ","private":true,"owner":{"login":"AugustanaCSC285Fall18","id":42421924,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQyNDIxOTI0","avatar_url":"https://avatars0.githubusercontent.com/u/42421924?v=4","gravatar_id":"","url":"https://api.github.com/users/AugustanaCSC285Fall18","html_url":"https://github.com/AugustanaCSC285Fall18","followers_url":"https://api.github.com/users[...]
[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 13b866b6dcff925bbf83b71724d17ceb1f520167
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4766'
      X-Ratelimit-Reset:
      - '1585796[...]
[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 13b866b6dcff925bbf83b71724d17ceb1f520167
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4764'
      X-Ratelimit-Reset:
      - '1585796[...]
[...]
- request:
    method: get
    uri: https://api.github.com/users/cgaddis36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 13b866b6dcff925bbf83b71724d17ceb1f520167
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4762'
      X-Ratelimit-Reset:
      - '1585796834'
      Etag:
      - W/"c6033523e22002e91ecee10d7e070292"
      Last-Modified:
      - Thu, 02 Apr 2020 02:12:52 GMT
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"cgaddis36","id":53872078,"node_id":"MDQ6VXNlcjUzODcyMDc4","avatar_url":"https://avatars0.githubusercontent.com/u/53872078?v=4","gravatar_id":"","url":"https://api.github.com/users/cgaddis36","html_url":"https://github.com/cgaddis36","followers_url":"https://api.github.com/users/cgaddis36/followers","following_url":"https://api.github.com/users/cgaddis36/following{/other_user}","gists_url":"https://api.github.com/users/cgaddis36/gists{/gist_id}","starred_url":"https://api.github.com/users/cgaddis36/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/cgaddis36/subscriptions","organizations_url":"https://api.github.com/users/cgaddis36/orgs","repos_url":"https://api.github.com/users/cgaddis36/repos","events_url":"https://api.github.com/users/cgaddis36/events{/privacy}","received_events_url":"https://api.github.com/users/cgaddis36/received_events","type":"User","site_admin":false,"name":"Chase
        Gaddis","company":null,"blog":"","location":"Denver, CO","email":null,"hireable":null,"bio":null,"public_repos":43,"public_gists":0,"followers":1,"following":1,"created_at":"2019-08-07T16:05:52Z","updated_at":"2020-04-02T02:12:52Z"}'
  recorded_at: Thu, 02 Apr 2020 02:49:41 GMT
[...]
